/* ==UserStyle==
@name           global fonts ( marslo )
@version        3.0.20
@namespace      github.com/marslo
@description    global-wild font customization
@author         marslo.jiao@gmail.com
@homepageURL    https://github.com/marslo/global-fonts
@updateURL      https://github.com/marslo/global-fonts/raw/main/global-fonts.user.css
@advanced       text font-family-sans        "Sans Fonts"        ""Titillium Nerd Font", "Recursive Sans Casual Static Nerd Font", "MFeltPenPRC Nerd Font", "MFeltPenHKSemi Nerd Font", "Grandstander Nerd Font", "Ubuntu", "Candara Nerd Font", "Gisha Nerd Font""
@advanced       text font-family-mono        "Mono Fonts"        ""OperatorMonoLig Nerd Font Mono", "OperatorMono Nerd Font Mono", "JetBrainsMono Nerd Font Mono", "RecMonoCasual Nerd Font Mono", "Monaco Nerd Font Mono", Menlo, "Andale Mono", "Ubuntu Mono", "Monofur Nerd Font Mono", Consolas"
@advanced       text font-family-handwritten "Handwritten Fonts" ""Papyrus Nerd Font", fantasy"
@advanced       text font-family-icon        "Icon Fonts"        ""Google Material Icons", "Material Icons Extended", entypo, "Adgs Icons", "Font Awesome 5 Free", "Font Awesome 5 Pro", "Font Awesome 6 Free", FontAwesome, "Glyphicons Halflings", ReadMe-Icons, StructureFontAwesome, VideoJS, codicon, controlIcons, iconfont, icozoom, retina_icons, streamline, union-design-icons, yunfont, okticon, docons, zipformplus, "Font Awesome 6 Brands", octicons, perforceIcons, FontADP, "Support MDL2 Assets", marvell-icons, icomoon, element-icons, olive-icons, sans-serif"
==/UserStyle== */

@-moz-document regexp("https?://(.*jenkins.?(?:-staging)?(?:-dev)?(?:-ip.+)?(?:-ccs.+)?\\.[^\\.]+\\.com|0.0.0.0|34.233..*.*|3.230.*.*|10.69.*|imarslo.jenkins.com).*") {

  /*******************
   * jenkins controllers
  *******************/

  html {
    --font-family-sans: /*[[font-family-sans]]*/;
    --font-family-mono: /*[[font-family-mono]]*/;
    --font-family-handwritten: /*[[font-family-handwritten]]*/;
    --font-family-icon: /*[[font-family-icon]]*/;
    --font-size-normal-sans: 18px;
    --font-size-normal-mono: 18px;
    --font-size-big-mono: 20px;
    --font-size-h1: 34px;
    --font-size-h2: 26px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;
  }

  /** :root cannot take value from var(..) **/
  :root {
    --font-family-sans: /*[[font-family-sans]]*/ !important;
    --font-family-mono: /*[[font-family-mono]]*/ !important;
  }

  ::placeholder { font-style: italic !important; font-family: var(--font-family-mono) !important; }
  ::-ms-input-placeholder { font-style: italic !important; font-family: var(--font-family-mono) !important; }

  *:not(pre):not(code):not(textarea):not(button):not(select):not(option):not(kbd):not(icon):not(input):not(i):not(cursor):not(::before):not(::after):not([role=presentation]):not(pre code):not(pre code *):not(li code):not(li code *):not(code *):not(textarea *):not(* code):not(* pre *):not(* code *):not(div.ace_editor):not([class*="ace_"]):not([class*="ace_"] *):not(canvas.graph-cursor-pointer):not([class*="icon"]):not([class*="fa-"]):not([class*="octicon"]):not([class*="win-icon"]):not([class*="icon-"]):not([class*="ico"]):not([class*="pc"]):not([class*="DPvwYc"]):not([class*="para"]):not([class*="ms-Icon"]):not([class*="sort-caret"]):not([class*="Da"]):not([class*="drop"]):not([class*="bowtie-"]):not([class*="view-"]):not([class*="pl-"]):not([class*=".fa-clone"]):not([class*=".fa-check"]):not([class*="avatar-"]):not([class*='wysiwyg-macro-*']):not([class*="-line"]):not([class*="CodeMirror-"]):not([class*="cm-"]):not([class*="setting-"]):not([class*="gr-"]):not([class*="s-code-"]):not([class*="code"]):not([class*="w3-"]):not([class*="language-"]):not([class*="hljs"]):not([class*="post-"]):not([class*="code"]):not([clas*="line"]):not([class*="js-post"]):not([class*="editor"]):not([class="setting-main"]):not([class*="resizable"]) {
    font-family: var(--font-family-sans) !important;
  }

  /**
   * .systemmessage *, a, body, h1, h2, h3, h4, h5 {
   *   font-family: var(--font-family-sans) !important;
   *   font-size: 100% !important;
   *   background-color: red !important;
   * }
   * :not(div.ace_editor) ,
   * div#main-panel * ,
   * .pane-content                                     build history
   * h1.page-headline, div.cbwf-stage-view *,      ╮
   * h2.permalinks-header, ul.permalinks-list *    ╯   job page
   * div.pane-frame *,                                 impact the ace_
   * button,
  **/
  div.tab *,
  [class*="footer"],
  div#view-message *:not(pre):not([class*="cm"]),
  div#side-pannel *,
  span.task-link-text,
  table.middle-align *,
  #breadcrumbs li a,
  #breadcrumbs li a:link ,
  dev.pane.desc *,
  .pane-content a,
  h1.page-headline,
  div.cbwf-stage-view *,
  h2.permalinks-header,
  ul.permalinks-list *,
  table.fileList *,
  td a,
  td *,
  div.signupIntroDefault :is(div, p),
  label.attach-previous.setting-checkbox,
  [class*="jenkins-checkbox"] *,
  div.textarea-preview-container,
  :root:not([class*="ace"]):not(pre>code *):not([class*="jenkins-input"]) {
    font-family: var(--font-family-sans) !important;
  }

  /**
   * login account show
   * https://www.cssfontstack.com/Papyrus
  **/
  div.login a.model-link,
  div#main-panel a[name="skip2content"]+h1,
  ul#breadcrumbs > li.item:first-of-type > a.model-link {
    font-family: var(--font-family-handwritten) !important;
    font-size: 18px !important;
    text-transform: none !important;
  }
  ul#breadcrumbs > li.item:first-of-type > a.model-link,
  div.login a.model-link span.hidden-xs.hidden-sm {
    font-size: 16px !important;
    padding-top: 8px !important;
    font-weight: 550 !important;
  }

  tr.app-summary>td>pre>code>ul>li * {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }
  div#main-panel a[name="skip2content"]+h1 {
    font-size: 28px !important;
  }

  /**
   * tabbar
  **/
  .tabBar .tab a {
    font-size: var(--font-size-normal-sans) !important
  }
  /**
   * setting-* ; div.setting-main *                    configuration
   * textarea.jenkins-input                            snippet output
   * "ace_"                                            Jenkins Pipeline Script Textarea
   * div.setting-main *
   * div.pretty-print                                  config.xml
   *
  **/
  div.setting-main,
  .jenkins-form-label,
  .setting-main > textarea,
  td.setting-main,
  div.pretty-print,
  errorList problem *,
  [data-theme*=material-] #main-panel > pre {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }

  /**.ace-tomorrow {
    background-color: black ;
  }**/

  /**
   * #main-panel>pre, #main-panel>pre *, pre#main-panel, pre#main-panel *, div#main-panel>pre, div#main-panel>pre *, div#main-panel>pre code, div#main-panel>pre code *,
   * :root,
  **/
  ::marker,
  kbd,
  option, option *,
  canvas, canvas *,
  pre, pre *:not([class*="console-output"]),
  pre code, pre code *,
  pre code ul li *,
  pre span, pre span *,
  code, code *,
  input :where(code, pre),
  select, select *,
  script, script *,
  textarea, textarea *,
  #view-message>pre, #view-message>pre *, div#view-message>pre, div#view-message>pre *,
  #side-pannel>pre, #side-pannel>pre *, div#side-pannel>pre, div#side-pannel>pre *,
  .code, .code *,
  div.code *, table.code, table.code *, table.pre, table.pre *,
  .jenkins-input,
  .dropdownList,
  .jenkins-select__input,
  .setting-input,
  select.setting-input, select.setting-input *, select.setting-input.validated,
  input.combobox2.setting-input, input.setting-input,
  textarea.jenkins-input, textarea.setting-input,
  #terminal, #terminal *,
  tr.line_holder *, span[class*=cm-],
  div.help *,
  caption.caption table.diffLineTable *,
  .healthReportDetails td:is([align*="right"]), .coverage-cell-link, .coverage-cell-inner,      /* code coverage tolltip */
  span[class*='pipeline-node']::before {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
    line-height: 1.5em !important;
  }

  [class*="ace_"],
  [class*="ace_"] *,
  textarea.ace_text-input,
  .ace_active-line,
  cursor,
  [class*="console-output"] *,
  .console-output, .console-output *,
  #main-panel>pre, #main-panel>pre *,
  pre#main-panel, pre#main-panel *,
  div#main-panel>pre, div#main-panel>pre *, div#main-panel>pre code, div#main-panel>pre code *,
  .CodeMirror-lines *, div.CodeMirror-lines *,
  .CodeMirror, .CodeMirror *, .CodeMirror pre,
  .lineNum, .code-line {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-big-mono) !important;
    line-height: 1.5em !important;
  }

  /* buttons in system configuration */
  .yui-button button, button, .url-button {
    display: inline-block !important;
    font-size: 0.75rem !important;
  }
  /** 2.462.1+ console output `Copy` button **/
  .jenkins-button {
    display: inline-flex !important;
  }
  /* 2.361.3+ copy button */
  button.jenkins-button > span {
   display: block !important;
  }

  /* Metrics plugin: Timings table */
  table.bigtable.pane th {
    /* background-color: #999 !important; */
    border: 1px solid !important;
    border-right-color: #4d4c4c !important;
    border-bottom-color: #4d4c4c!important;
    color: #ddd !important;
  }

  /** icon **/
  ::before, ::after {
    font-family: var(--font-family-icon) !important;
  }
  .glyphicon::before {
    font-family: "Glyphicons Halflings" !important;
  }
  a.anchorjs-link::after {
    font-family: "anchorjs-icons" !important;
  }

  span.jenkins-icon-adjacent {
    font-family: var(--font-family-handwritten);
    font-size: 100% !important;
  }

  /**
   * bluetooth
  **/
  .result-item-label,
    .TruncatingLabel,
    [class*="RunDetailsHeader"] *,
    [class*="JTable"],
    .activity-actions-container,
    .Header-pageTabs,
    .development-footer {
    font-size: var(--font-size-normal-mono) !important;
  }

  select {
    outline: 0 !important;
  }

  span.pipeline-new-node, span.cm-comment, .ace-tomorrow .ace_comment {
    font-style: italic !important;
  }
  .ace-tm .ace_comment, span.cm-comment {
    color: darkgray !important;
  }
  /*
  input:not([type="file" i], [type="image" i], [type="checkbox" i], [type="radio" i]) {
    font-style: italic !important;
    font-family: var(--font-family-mono) !important;
  }
  */

  /**
  div.alert-danger {
    background-color: #A8021B !important;
  }
  **/
} /** @-moz-document regexp : for jenkins hosts **/

@-moz-document regexp("^((?!.*(.*jenkins.?(?:-dev)?(?:-staging)?(?:-ip.+)?(?:-ccs.+)?)\\.[^\\.]+\\.com|.*Monitor/$|.*sabacloud.com|.*detail.*pipeline|shields.io|127.0.0.1|0.0.0.0|localhost|font.+\\.com|.*sharepoint.com|developer.arm.com|imarslo.jenkins.com|programmingfonts|34.233..*.*|3.230.*.*|.*re-dashboard).)*$") {

  /*******************
   * non-jenkins domains
  *******************/

  html {
    --font-family-sans: /*[[font-family-sans]]*/;
    --font-family-mono: /*[[font-family-mono]]*/;
    --font-family-handwritten: /*[[font-family-handwritten]]*/;
    --font-family-icon: /*[[font-family-icon]]*/;
    --font-size-normal-sans: 18px;
    --font-size-normal-mono: 18px;
    --font-size-small-mono: 17px;
    --font-size-big-mono: 20px;
    --font-size-h1: 34px;
    --font-size-h2: 26px;
    --font-size-h3: 24px;
    --font-size-h4: 20px;

    /** github cursor position issue **/
    --font-size-github-mono: var(--font-size-big-mono);
    --fontStack-monospace: var(--font-family-mono) !important;
    --fontStack-system: var(--font-family-sans) !important;
    --fontStack-sansSerif: var(--font-family-sans) !important;
    --body-font-size: var(--font-size-github-mono) !important;
    --font-size-small: var(--font-size-github-mono) !important;
  }

  /** https://javadoc.jenkins.i **/
  :root{
    --code-font-family: var(--font-family-mono) !important;
    --body-font-family: var(--font-family-sans) !important;
    --block-font-family: var(--font-family-sans) !important;

    /** linkedin **/
    --artdeco-reset-typography-font-family-sans: var(--font-family-sans) !important;
    --artdeco-typography-sans: var(--font-family-sans) !important;
    --artdeco-typography-mono: var(--font-family-mono) !important;
  }

  body {
    font-family: var(--font-family-sans), var(--font-family-mono) !important;

    /** vi.stackexchange.com **/
    --ff-sans: var(--font-family-sans) !important;
    --ff-mono: var(--font-family-mono) !important;

    /** **/
    --code-font-family: var(--font-family-mono) !important;
    --body-font-family: var(--font-family-sans) !important;

  }

  /**
   * kbd, pre, code:                             html tag
   *                                             e.g.: <kbd></kbd>, <pre></pre>
   * pre *, code *, div.line-numbers, div.code   html tag with class.
   *                                             e.g.: <div class="code"></div>
   *                                                   <div class="line-numbers"></div>
   * .line, .line-number, .monospaced:           specific class name
   * #name, #number                              specific id name
   * :is(), :not(), :where(), :any()             Pseudo-classes https://developer.mozilla.org/en-US/docs/Web/CSS
  **/

  *:not(pre):not(code):not(textarea):not(button):not(select):not(option):not(cursor):not(kbd):not(icon):not(input):not(i):not(hl):not(nav):not(::before):not(::after):not(button *):not(pre code):not(pre code *):not(li code):not(li code *):not(code *):not(textarea *):not(* code):not(* pre *):not(* code *):not(div.ace_editor):not(div[class*="ace_"]):not(div[class*="ace_"] *):not(canvas.graph-cursor-pointer):not([class*="icon"]):not([class*="fa-"]):not([class*="octicon"]):not([class*="win-icon"]):not([class*="icon-"]):not([class*="ace_"]):not([class*="ico"]):not([class*="pc"]):not([class*="DPvwYc"]):not([class*="para"]):not([class*="ms-Icon"]):not([class*="sort-caret"]):not([class*="Da"]):not([class*="drop"]):not([class*="bowtie-"]):not([class*="view-"]):not([class*="pl-"]):not([class*="fa-"]):not([class*="avatar-"]):not([class*='wysiwyg-macro-*']):not([class*="-line"]):not([class*="CodeMirror-"]):not([class*="cm-"]):not([class*="setting-"]):not([class*="gr-"]):not([class*="s-code-"]):not([class*="code"]):not([class*="w3-"]):not([class*="language-"]):not([class*="hljs"]):not([class*="post-"]):not([class*="code"]):not([class*="line"]):not([class*="js-post"]):not([role=presentation]):not([class*="btn"]):not([class*="w3-button"]):not([class*="QueryBuilder-"]),
  .gr-app,
  .sidebar,
  div[class*="timeline"],
  div#book-search-input > input, span.algolia-autocomplete > input {
    font-family: var(--font-family-sans) !important;
  }

  /****************************************************************************************
   * TFS Log Content
  ****************************************************************************************/
  span.vsts-build-log {
    font-family: var(--font-family-mono) !important;
  }

  /****************************************************************************************
   * https://help.obsidian.md/
   * https://readme.com/
  ****************************************************************************************/
  div[class*="callout-"], div[class*="callout-"] :is(p, a), .callout-title-inner,
  span[class*="SearchTabs"],
  i.icon-search~h6,
  div[class*="style_CardRow"] p,
  nav[class*="style_Navbar"] button,
  a[class*="style_Navbar"],
  a[class="style_Button"],
  a[class*="style_Menu"],
  button[class*="style_Tabs"],
  [class*="style_Button"],
  div[class*="style_FancyCard-content"] *,
  div[class*="style_CTAList"] * {
    font-family: var(--font-family-sans) !important;
  }


  /****************************************************************************************
   * code block:
   *   textarea
   *   .editor,                             Github Codeblock
   *   div.ace_content                      Gitlab Diff content ; Jenkins Script Box
   *   .solarized-dark,                     http://www.myregexp.com
   *   .js-file-line *,                     http://thisdavej.com
   *   .changeset-message,                  Jenkins Console Editor
   *   .node-log-frame,                     Jenkins Change list
   *   #terminal *                          Jenkins Stage View
   *   shellcheck
   *   .lines-content *                     LeetCode-cn
   *   markdown-body *:is(pre, pre *),
   *   [class*="line-"] *, #content,
   *   pre span, pre span *                 handled by pre *
   *   [class*="escape"]                    https://en.wikipedia.org/wiki/ANSI_escape_code
   *   [id*="breadcrumbs"] *,               ╮
   *   [class*="toolbar-split"] *,          ├ confluence edit page
   *   [class*="macro"]                     ╯
   *   .cm-editor *,                        https://gwc-experiment.appspot.com Groovy Web Console
   *   .CodeBlock pre[class*=language-]>code https://docs.nvidia.com
  ****************************************************************************************/
  kbd,
  pre, pre *, pre.code *,
  code, code *, * code *, .code-line,
  input :where(code, pre),
  textarea :where(code, pre),
  [class*="highlight"] :where(pre, code),
  .markdown-body :is(code, code *, pre, pre *),
  .highlight :is(pre, code),
  .blob-code, .blob-code-inner, .blob-num,
  .editor *:not(span):not([class*="confluence"]):not([id*="breadcrumbs"] *):not([class*="toolbar-split"] *),
  div.ace_content,
  .blob-code-addition *, .blob-code-inner *,
  .solarized-dark,
  .EnlighterJS *,
  .js-file-line *,
  .font-mono,                  /** highlightjs.org */
  .changeset-message,
  .node-log-frame,
  .lines-content *,
  tr.line_holder *,
  div[class*="hljs-"] *,
  div[class*=".comment"] code,
  [class*="code"]:not([class*="react"], [class*="select-sm"], [class*="codebook"], [class*="nicode"], [class*="escape"], [class*="macro"]) *:not(h1):not(h2):not(h3):not(h4):not(h5):not(a):not(button):not([class*="fa"], [class*="iconfont"], [class*="codicon"], [class*="step"], [class*="docon"], [class*="con"], [class*="fa"], [class*="btn"], [class*="select"]),
  [class*="linenumber"] *, [class*="markdown"] code, [class*="blob"] code,
  [class*="terminal"] *:not([class*="icon"]), #terminal *:not([class*="icon"]),
  .CodeBlock pre[class*=language-]>code * {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-big-mono) !important;
    line-height: 1.5em !important;
  }


  /****************************************************************************************
   * stylish/stylus editor
   * https://userstyles.world/
  ****************************************************************************************/
  .CodeMirror-line, *.CodeMirror-lines *, *.CodeMirror *, .CodeMirror *,
  span.target, details.sections-list li, h2.style-name *,
  div[class*="CodeMirror-"] *, pre[class*="s-code-"] *, div[class^="cm-"] * {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }
  details[class*="ignore-pref-if-compact"] h2 {
    font-size: 2em !important;
  }
  div[id*="basic-info-name"] > input,
  div[class*="buttons"] > button,
  h2.style-name *,
  div.manage-settings *,
  div[class*="select-"] select,
  div.settings-column :is(a, button, span),
  div.options-column > div.option,
  input[type*="search"],
  span[id*="share"],
  div[class*="share"] * {
    font-family: var(--font-family-sans) !important;
  }


  /****************************************************************************************
   * https://bootsnipp.com/
   * ace_
  ****************************************************************************************/
  [class*="ace_"], [class*="ace_"]~div, [class*="ace_"]~div, [class*="ace_"]+div, [class*="ace_"] *,
  div#playground-container * {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }


  /****************************************************************************************
     * gerrit
   * .gr-change-metadata, .gr-related-changes-list, .gr-change-list-item, .gr-comment-list
   * td.u-red, td.u-green
   *
   * td[class *= 'gr-'] {
   *   font-family: var(--font-family-mono) !important;
   * }
   * [class*="style"] *, [class*="style"], [rel="noopener"], div[class*="gr-"] *, .style-scope *
   *
   * background colors
   *
   * td:is([title*="Valid-Commit-Message"]),
   * td:is([title*="Non-Author-Code-Review"]),
   * td:is([title*="Verified"]),
   * .gr-change-list-item {
   *   background: #212121 !important;
   * }
   *
   * padding
   *
   * .gr-change-list-item-0 th.gr-change-list-item:not(.label),
   * .gr-change-list-item-0 .cell.gr-change-list-item:not(.label) {
   *   padding-right: 2px !important;
   * }
  ****************************************************************************************/
  .gr-app,
  .webLink,
  .gr-message,
  .gr-file-list,
  .gr-admin-view,
  .branches.name,
  .bigTitle,
  a.gr-related-changes-list,
  .gr-formatted-text-0 ul.gr-formatted-text,
  .gr-formatted-text-0 li.gr-formatted-text,
  .gr-linked-text-0 span.gr-linked-text,
  span.gr-account-label, span.gr-account-dropdown,
  th.gr-change-list, a.gr-change-list-item,
  span.gr-main-header,
  a.gr-admin-view,
  h1.gr-repo,
  label.gr-editable-label,
  span.headerSubject,
  span.breadcrumbText,
  paper-button, paper-button.gr-button,
  span#automatedMessageToggleContainer,
  div.desktop :is(a, p),
  span.gr-change-metadata,
  div.gr-change-status,
  a.gr-dropdown,
  aper-item.gr-dropdown-list div,
  div.gr-dropdown-list div[class*="gr-dropdown-list"],
  div.gr-related-changes-list *,
  table.object_header td,
  .linksTitle.gr-main-header,
  span.gr-linked-text *:not([class*="pre"]),
  div.hideOnOpen,
  [class*="gr-*-list"],
  blockquote[class*="gr-formatted-text"] *,
  input[id*="b_signin"],
  td.link, td.selflink {
    font-family: var(--font-family-sans) !important;
  }
  gr-linked-text[class*="pre"] #output,
  gr-formatted-text :is([class*="pre"]),
  gr-commit-info *,
  gr-date-formatter *,
  gr-diff *,
  a.gr-change-view,
  a.gr-diff-view,
  h3.gr-access-section,
  td.gr-diff,
  div.stats > span,
  div.total-stats > span,
  div.commitMessage > #commitMessageEditor > div.gr-editable-content span#output,
  [class*="monospace"] *,
  .cell.number > a,
  span.value,
  .branches.revision,
  div.page_path *,
  div.page_body :is(code, pre),
  div.textarea-container *,
  div.gr-editable-content a[rel*="noopener"],
  .hidden-phone,                                                          /** gitblit blame sha1 **/
  .lineCommit, .lineNumber > span, .lineContent.sha1 {                    /** gitblit blame **/
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }
  td.changesLink.style-scope.gr-repo-list,
  td.repositoryBrowser.style-scope.gr-repo-list {
    font-size: 15px !important;
  }
  .style-scope.gr-account-dropdown,
  gr-endpoint-decorator.gr-main-header *,
  h2.logo + div.page_header > a:not([href*="git"]) {
    font-family: var(--font-family-handwritten) !important;
    font-size: 20px !important;
    text-transform: none !important;
  }
  *:not([class*="vjs-"]) > span.title,
  .gr-message,
  .gr-file-list,
  span.gr-main-header,
  label.gr-editable-label,
  span.gr-account-label,
  span.gr-account-dropdown,
  th.gr-change-list,
  a.gr-change-list-item,
  .gr-admin-view,
  .branches.name {
    font-size: var(--font-size-small-mono) !important;
    font-family: var(--font-family-sans) !important;
  }

  label.gr-editable-label,
  span.headerSubject,
  span.breadcrumbText,
  .linksTitle.gr-main-header,
  h3.gr-diff-view span {
    font-size: 1.25rem !important;
  }
  gr-endpoint-decorator.gr-main-header *,
  .bigTitle,
  h1.gr-repo {
    color: #e2e2e2;
    font-size: 2.25rem !important;
    text-decoration: none;
  }
  div.reviewed > label.gr-file-list > span.markReviewed {
    font-size: 16px !important;
  }
  .gr-file-list-1 .reviewed.gr-file-list ,
  .gr-file-list-0 .reviewed.gr-file-list {
    margin-left: 1em !important;
    width: 18em !important;
  }
  .gr-change-list-item,
  td.cell.style-scope.gr-change-list,
  .gr-change-list gr-change-list-item[selected].gr-change-list,
  .gr-change-list gr-change-list-item.gr-change-list:focus,
  .gr-change-list-item-0:hover {
      background-color: #212121 !important;
  }
  .gr-syntax-comment,
  span.com {
    font-style: italic !important;
  }
  span.com {
    color: #696969 !important;
  }

  /**
   * gerrit code block
  **/
  .gr-formatted-text-0 gr-linked-text.pre.gr-formatted-text,
  gr-linked-text[class*="pre"], gr-linked-text[class*="pre"] #output {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }
  .gr-formatted-text-0 gr-linked-text.pre.gr-formatted-text,
  gr-linked-text[class*="pre"] {
    color: #c8c8c8 !important;
    background: #272727 !important;
    border-radius: .75em !important;
    box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
    overflow: auto;
    display: block;
    padding: 12px 12px 1px 12px;
    margin: 0px;
  }

  /****************************************************************************************
   * .editor, * div.ace_content * {
   *   font-family: var(--font-family-mono) !important;
   *   font-size: var(--font-size-normal-mono) !important
   * }
   * .form-control                  : service now - Incident
   * td.wysiwyg-macro-body *        : for json viewer, but impacted the confluence page
   * ..P2c8Dd                       : google color picker
   * id*="version|astPhase"         : https://gwc-experiment.appspot.com Groovy Web Console
   * id*="select-ember41"           : vault
   * class*="is-fullwidt"           : vault
  ****************************************************************************************/
  /* ol li, */
  /* td ol, */
  *:not([class*="is-fullwidt"]) > select:not([class*="form-select"], [id*="version"], [id*="astPhase"], [id*="select-ember"]),
  input:not([class*="button"], [type*="submit"], [name*="summary"], [id*="user-code-"], [class*="P2c8Dd"]),
  a.jstree-anchor, pre.console-output,
  div.line-numbers *, .line-numbers, .js-line-number, /* artifactory tree list */
  pre.span *, pre *, #confluenceTd, .blockInner,      /* confluence */
  .jsonpOpener, .timestamp,                           /* Json Viewer */
  li.blockList {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-big-mono) !important;
    line-height: 1.5em !important;
  }
  /**
  .form-control {                                     / service now - Incident /
    padding: 1px 9px !important;
  }
  **/


  /****************************************************************************************
   * stackoverflow
  ****************************************************************************************/
  .fs-headline1 *,
  .question-header * {
    font-size: 26px !important;
  }
  .fs-headline2 *,
  .s-post-summary--content-title {
    font-size: 22px !important;
  }
  .modal-content * {
    font-size: 16px !important;
  }
  .fs-title,
  .s-notice,
  .js-review-actions,
  .ws-nowrap,
  .s-sidebarwidget,
  .comments-list *,
  .js-post-body p,
  .js-post-body li,
  .js-add-link,
  .user-info *,
  .question-hyperlink,
  div#question-mini-list a, .nav-links a, .modal-content a,
  li.js-freemium-cta *,
  .s-btn span,
  div#question-mini-list [class*="-unit"],
  span[class*="gwd-span-"],
  div[class*="-ad-"] *,
  div[id*="user-panel"] a,
  [role*="tooltip"],
  [type*="button"] {
    font-family: var(--font-family-sans) !important;
  }
  .comment-body code,
  .mainEntity :is(code, pre),
  div#question-mini-list [class*="-number"],
  textarea#wmd-input, .s-textarea {
    font-family: var(--font-family-mono) !important;
  }
  /** comments in stackoverflow && Jira code block **/
  .hljs-comment {
    font-style: italic !important;
    color: darkgray;
  }
  .hljs-addition {
    color: #2b91af !important;
  }
  .hljs-deletion {
    color: #a31515 !important;
  }
  .hljs-meta {
    color: hsl(252, 38%, 56%) !important;
  }
  .s-btn.s-btn__filled {
    color: var(--blue-300) !important;
  }

  /****************************************************************************************
   * slack
   * https://app.slack.com
  ****************************************************************************************/
  [class*="c-message"],
  span[class*="p-view_header_"],
  [data-qa*="slack_"] *,
  [class*="c-menu_"] *,
  span[id*="context_bar_"] *,
  div[class*="c-base_list_entity"] *,
  [class*="c-basic_container__body"] button,
  div[class*="message_input"] *,
  div[class*="p-draft_unfurls"] *,
  [class*="p-notification_bar"] *,
  [data-qa*="context_bar_text_timezone"] * {
    font-family: var(--font-family-sans) !important;
  }
  [class*=c-mrkdwn__code],
  [class*="c-mrkdwn__pre"],
  [class*="ql-editor"] :is(code, pre) {
    font-family: var(--font-family-mono) !important;
  }


  /****************************************************************************************
   * jira
   * #create-issue-dialog input
   * :not([class*="aui-icon"]),
   * .aui-button
  ****************************************************************************************/
  .js-issue-list *,
  span.aui-label,
  table.issue-table p,
  div.tabwrap.aui-tabs,
  .message-container,
  a.s-summary,
  div.tableHeader *,
  .gadget-container *,
  div.foot :is(a, div),
  div.action-details,  div.action-details *,
  div.field-group input:where([class*="text"], [type*="password"], [name*="password"], [name*="username"]),
  .text.aui-ss-field,
  input.text.long-field,
  .textfield.long-field,
  .ajax_autocomplete input.long-field,
  div.cke_contents textarea,
  h1#summary-val,
  div#attachmentmodule *,
  input.aui-ss-field,
  div.user-content-block *:not(code):not(pre>code *),
  [class*="dashboard-item"] iframe *,
  [class*="applinks*messages"],
  [class*="jira-activity"] [class*="activity"],
  div[class*="ghx-"],
  [id*="details-module"] *:not([class*="icon"]),
  [class*="s-view-dd-"],
  [class*="aui-dropdown"] strong {
    font-family: var(--font-family-sans) !important;
    font-size: var(--font-size-normal-sans) !important;
  }
  div[class*="ghx-key"] > a, td.issuekey,
  .user-content-block :is(code, code *, pre code),
  .cke_editable :where(code, code *, pre),
  [class*="action-body"] :where(code, code *, pre),
  .mod-content :where(code, code *, pre),
  textarea[class*="cke_source"] {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }
  /* div.field-group input:not([type*="password"], [type*="submit"], [name*="user"], [id*="customfield_"] */
  div.aui-page-header-main > h1#summary-val,
  div.aui-page-header-main > h1#summary-val form#summary-form input.long-field {
    font-size: 26px !important;
  }
  li.ghx-column > h2 {
    font-size: 18px !important;
    align-content: center !important;
  }
  .user-content-block *:not(pre)>code,
  [class*="action-body"] *:not(pre)>code,
  #create-issue-dialog *:not(pre)>code,
  .cke_editable *:not(pre)>code,
  .mod-content *:not(pre)>code {
    color: #d63384 !important;
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
    /* font-style: italic; */
  }
  body.cke_editable :where(p, a, code, pre),
  div.cke_contents textarea {                          /* comments input box */
    font-size: 18px !important;
  }
  /* div.gadget-container > div.dashboard-item-header > h3,                                                         assigned to me      */
  /* .mod-content li.people-details span:where([id*="reporter"], [id*="assignee"]) > span[id*="issue_summary"]      assignee & reporter */
  div.aui-page-header > div.aui-page-header-inner > div.aui-page-header-main > h1, /* system dashboard */
  h1 > span.subnav-container > span#subnav-title > span.subnavigator-title,  /* sprint - xx */
  div#search-header-view > div.header-section-primary > h1.search-title {
    font-family: var(--font-family-handwritten) !important;
  }

  /****************************************************************************************
   * confluence
  body.page-edit :is(h1, h2, h3, h4, h5, li, p, a, span) *,
  [class*="confluence"] *,
  [class*="wysiwyg-macro"] *,
  .wiki-content *,
  table.wysiwyg-fmacro,
  table.wysiwyg-macro+p {
    font-family: var(--font-family-sans) !important;
  }
  ****************************************************************************************/
  input#content-title,
  .wiki-content .contentLayout2,
  span.aui-header-logo-text,
  #autocomplete-dropdown * {
    font-family: var(--font-family-sans) !important;
  }
  body.page-edit code, [class*="confluence"] code *,
  .wysiwyg-macro-body>pre, div.codeContent td.code * {
    font-family: var(--font-family-mono) !important;
  }
  input#content-title {
    font-size: 1.25em !important;
  }
  h1#logo > a > span.aui-header-logo-text {
    font-size: 24px !important;
    line-height: 1;
    padding: 12px 0 0px 0px;
    font-family: var(--font-family-handwritten) !important
  }
  code.bash.comments {
    font-style: italic !important;
  }
  /****************************************************************************************
   * kubernetes.io
   * https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
  ****************************************************************************************/
  #click-to-connect :is(h1,h2),
  section#intro *:not([class*="fa-"]),
  div#course-title *,
  div.step *,
  .settings-dropdown li>a, .webpreview-dropdown li>a {
    font-family: var(--font-family-sans) !important;
  }
  section#terminal.terminal-container *,
  div.xterm-screen canvas,
  canvas.xterm-text-layer .terminal *,
  .terminal-container, .terminal, .terminal[style],
  #xterm-text-layer * {
    font-family: var(--font-family-mono) !important;
    /* font-size: 1.25em !important; */
  }
  section#tutorial :where(code, pre) {
    font-family: var(--font-family-mono) !important;
    font-size: 1.35em !important;
  }
  section#tutorial p,
  div.col-md-12 a.btn,
  #settings-dropdown-terminal a {
    font-size: 16px !important;
  }
  #click-to-connect :is(h1),
  div.row.no-margin h1,
  div.header.banner h1 {
    font-size: 28px !important;
  }
  #click-to-connect :is(h2),
  div#course-title :is(h3),
  div.step :is(h4),
  div#course-details+h1 {
    font-size: 20px !important;
  }

  /****************************************************************************************
   * Play With Kubernetes
   * https://labs.play-with-k8s.com/
  ****************************************************************************************/
  div.terminal-instance * {
    font-family: var(--font-family-mono) !important;
  }

  /****************************************************************************************
   * others:
   * .lwptoc_item,                  stackoverflow
   * .MuiGrid-container             https://onecompiler.com/
  ****************************************************************************************/
  ::before, ::after, button, button.btn, span.fa-angle-up * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    font-family: inherit;
  }

  time, h2[class*="bottom"], .lwptoc_item,
  .MuiGrid-container h2 {                              /* https://onecompiler.com/ */
    font-size: 14px !important;
  }
  .page-header a>b {                                   /* https://ci.jenkins.io/ */
    font-size: 20px !important;
  }
  [data-target*="readme-toc.content"] *,
  .css-truncate a, .BorderGrid-cell,
  ul.blockListLast > li.blockList,                     /* groovy doc */
  time-ago,
  td.colLast > div.block,                              /* https://javadoc.jenkins.io */
  h4.line * {
    font-family: var(--font-family-sans) !important;
  }
  /* https://www.wikiwand.com/en/Web_colors */
  .mw-parser-output .color-chart-x11-table td:nth-child(2),
  .mw-parser-output .color-chart-x11-table td:nth-child(3),
  .entry pre>code {
    font-family: var(--font-family-mono) !important;
  }
  .wm_content__0bruk div {
    font-family: var(--font-family-sans) !important;
  }
  /** service now **/
  ul[ng-if*="::user.logged_in"] span:where([class*="navbar-avatar"], [class*="visible-lg-inline"]),
  div[ng-show*="::!isViewNative"] div.logo-name {
    font-family: var(--font-family-handwritten) !important;
    font-size: 1.25em !important;
  }
  /** vault **/
  textarea.input.masked-value {
    font-family: var(--font-family-mono) !important;
  }
  /** zoom.us **/
  h1.r-title * {
    font-size: 22px !important;
  }
  /** csdn.net **/
  .htmledit_views code ol {
    padding-bottom: 5px !important;
  }
  /** https://bingehacking.blogspot.com **/
  span[style*="font-family"], .PopularPosts, .post-title a {
    font-family: var(--font-family-sans) !important;
  }
  /** https://click.palletsprojects.com/en/8.1.x/api/ **/
  span.pre {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-normal-mono) !important;
  }
  /** python api book **/
  div[class*="highlight-"] pre {
    font-family: var(--font-family-mono) !important;
  }
  /** https://groovy-lang.org **/
  i.conum {
    line-height: 20px !important;
  }

  /** google color picker **/
  .KJEUee {
    line-height: 0.85 !important;
  }
  .B678Hb {
    font-size: 8px !important;
    font-family: var(--font-family-sans) !important;
  }
  .P2c8Dd {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-small-mono) !important;
  }

  /****************************************************************************************
   * icons settings:
   *
   *   i.fa-clone, i.fa-check,
   *   #anchor-navigation-ex-navbar > i[class*='fa'], ⌍
   *   #anchorNavigationExGoTop > i[class*='fa'],     ⋮ https://marslo.github.io/ibook
   *   a.navigation > i[class*='fa'],                 ⋮
   *   a > i[class*='fa'],                            ⌏
   *   span > i[class*='fa'],                         https://developer.arm.com/downloads/-/arm-gnu-toolchain-downloads
   *   i[class*="material-icons-"]                    google search
   *   i.s-fa-external-link, i.s-fa-info-circle       jira
   *   i[class*="-icon"]
   *   .codicon[class*="codicon-"] font: normal normal normal 16px/1 codicon !important;
  ****************************************************************************************/
  i[class*="fa-"],
  span[class*="glyphicon"],
  span[class*="style_Navbar"], span[class*="avatar"], span[class*="icon-"],
  i[class*="s-fa-"],
  i[class*="material-icons-"],
  i[class*="google-material-icons"],
  i[class*="iconfont"],
  i[class*="ms-Button-icon"], [class*="ms-Button"], .icon-530,
  button[class*="vjs-"], .video-js,              /** zoom.us **/
  button[class*="zm-button"], i[class^=zm-icon-], i[class^=zm-dialog],
  [class*="g-button-right"] > [class*="icon-"],
  [class^="u-icon-"],
  .codicon[class*="codicon-"],                   /** gitpod **/
  span[class^="icon"]::before,                   /** https://www4.benefitsolver.com/benefits/BenefitSolverView **/
  .docon {                                       /** microsoft doc **/
    font-family: var(--font-family-icon) !important;
  }
  /**
   * https://kubernetes.io/docs/tutorials/kubernetes-basics/create-cluster/cluster-interactive/
   *   `form_`: service now incident
  **/
  div#course-details i[class*="fa"],
  .fa, .section-directions, .fontHeadlineLarge, .file-name-idw,
  .button:not([class*="aui-"]), .btn:not([class*="form_"]) {
    font-family: var(--font-family-icon) !important;
  }

  /** for zoom.us video control bar **/
  .video-js .vjs-control-bar {
    font-family: var(--font-family-mono) !important;
  }


  /****************************************************************************************
   * global settings
   *   button#btnSubmit, div.k-widget.k-grid *      projecttracker
   *   div.breadcrumbs *, ul.one-third *,         ⌍
   *   [class*="grepper_answer_button"] *,        ⋮
   *   [class*="answer_title"],                   ⋮
   *   ul.code_language_large *, .a-center        ⌏ https://www.codegrepper.com/
   *   aui-dropdown2                                jira
   *   text-xs, text-sm                             https://app.codecov.io/gh/jenkinsci/code-coverage-api-plugin
  ****************************************************************************************/
  p, h1, h2, h3, h4, h5,
  code :where(h1, h2, h3, h4, h5),
  pre :is(h1, h2, h3, h4, h5),
  button#btnSubmit, div.k-widget.k-grid *,
  div.breadcrumbs *, ul.one-third *,
  ul.code_language_large *, .a-center,
  [class*="grepper_answer_button"] *,
  [class*="answer_title"] {
    font-family: var(--font-family-sans) !important;
  }
  /** .page-header, **/
  h1.page-header :not([class*="hidden-"]),
  h1 > code,
  /** *:not([class*="content"]) > h1 > a:not([class*="btn"]), **/
  *:not([class*="content"]) > h1 :not(button):not(button+div):not(a[class*="tab"]):not(a[class*="btn"]):not(a[class*="Tab"]):not(i[class*="fa"]):not([class*="text-xs"]):not([class*="aui-dropdown2"] *):not([class*="text-normal"] *),
  h1#gh-pages code,
  .markdown-body h1, .markdown-section h1,
  div[class*="headline"] *:not([class*="btn"]),
  [class*="header"] > h1 *:not([class*="btn"]):not([class*="logo"]),
  div#click-to-connect > div > :not(h1):not(h2),
  div[class*="style_CardRow"] h1 {
    font-size: var(--font-size-h1) !important;
    font-weight: 500 !important;
  }

  /* *:not([class*="confluence"]):not([class*="tablesorter-header-inner"]):not(em) > strong:not([class*="final-path"]), */
  .header h1[data-v-03dd129c],                                       /* ⌍               */
  .app-layout-wrapper .title-wrapper h1[data-v-32d38c0c],            /* ⌏  artifactory  */
  h2[dir*="auto"] > code,                                            /* https://plugins.jenkins.io/kubernetes/ */
  /**
   * [class*="innerCell"]: confluence page
  **/
  *:not(blockquote):not([class*="-card-"]):not([class*="innerCell"]) >
    h2:not([id*="directions-mode-group"], [dir*="auto"], [class*="panel-title"], [id*="blob-path"], [class*="spanh2"], [class*="fontBodyMedium"], [class*="css-"], [class*="text-sm"], [class*="t-"], [class*="style-name"], [id*="blob-path"], [class*="spanh2"], [id*="directions-mode-group-"]):not([data-v-0b7a2eac]) >
    :is(a:not([class*="btn"], [class*="css-"]),
        span:not([class*="PpN7xc"], [class*="-name"], [class*="btn"], [class*="separator"], [class*="js-path"]),
        *:not(code)
       ),
  h2#gitbook-cli > code, h2#gh-pages code,
  .markdown-body h2:not([class*="btn"]):not([dir*="auto"]),
  .markdown-section h2:not([class*="btn"]):not([dir*="auto"]),
  .markdown-section h2 > mark,
  .markdown-section h2 > a:not([class*="btn"]),
  h2 > code {
    font-size: var(--font-size-h2) !important;
    font-weight: 400 !important;
  }
  h3:not([class*="btn"]):not([class*="ghx-name"]):not([class*="gr-access-section"]):not([class*="f5"]) div:not([class*="react-directory-truncate"]),
  h3 > code, h3#gh-pages code,
  .content h2,                                                       /* https://plugins.jenkins.io/kubernetes/ */
  .markdown-section h2 > code,
  .markdown-body h3 *,
  .markdown-section h3,
  .markdown-section h3 code,
  .markdown-section h3 > mark,
  .markdown-section h3 > a:not([class*="btn"]) {
    font-size: var(--font-size-h3) !important;
    font-weight: 400 !important;
  }
  div[data-v-0b7a2eac] > h2[data-v-0b7a2eac],                        /* artifactory repo name */
  .c-title.t.tts-title a,                                            /* baidu title */
  h4:not([class*="btn"]):not([class*="panel-title"]):not([class*="flex-1"]),
  h4 > code, h4#gh-pages code,
  section[role*="region"] h3,
  .blockList > h3,
  .markdown-section h3 > code,
  .markdown-body h4 *,
  .markdown-section h4 *,
  .markdown-section h4 > mark,
  .markdown-section h4 > a:not([class*="btn"]) {
    font-size: var(--font-size-h4) !important;
    font-weight: 400 !important;
  }

} /** @-moz-document regexp : for non jenkins hosts **/

@-moz-document domain("gwc-experiment.appspot.com") {

  /*******************
   * groovy web console
  *******************/

  html {
    --font-size-big-mono: 22px;
  }

  .cm-editor *,
  div[class^="cm-"] *,
  [class*=cm-] {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-big-mono) !important;
    line-height: 1.5em !important;
  }

  [class*='cm-'] > span.ͼw {
    font-style: italic !important;
  }

  button {
    font-family: var(--font-family-icon) !important;
  }

} /** @-moz-document domain : groovy web console **/

@-moz-document regexp("https?://[^\\/]*github\\.(com|io)((?!\\/login\\/device.*).)*$") {

  /*******************
   * github.com/github.io
  *******************/

  /****************************************************************************************
   * github.com
   * [class*="text"],
   *
   * # fix the issue for Last line obscured
   * div[tabindex="0"] { padding-bottom: 10px !important; }
   * # for first line in code text-area
   * .ePiodO { line-height: 0.8 !important; }
  ****************************************************************************************/
  .markdown-title,
  .markdown-section :is(p, h1, h2, h3, h4),
  .markdown-body, .markdown-body :is(p, h1, h2, h3, h4),
  div.list-style-none,
  .page-header,
  div[class*="style_CardRow"] h1,
  .d-flex.flex-self-stretch,
  a.dropdown-item,
  [class*="headline"],
  [class*="footer"],
  .d-flex.flex-wrap.flex-justify-end,
  label.header-search-wrapper > input,
  div.d-none.d-sm-block > span:is([class*="js-path-segment"]):not([class*="js-repo-root"]) > a,
  input:is([id*="password"], [id*="login"]) {
    font-family: var(--font-family-sans) !important;
  }
  .markdown-body code { border-radius: 6px !important; }
  /** for selection dismatches issue [class*="code"]:not([class*="react"]) **/
  textarea#read-only-cursor-text-area,
  [class*='react-line'],
  [class*='react-code'],
  .react-code-lines * {
    font-size: var(--font-size-github-mono) !important;
    font-family: var(--font-family-mono) !important;
  }
  table.js-code-nav-container > tbody *,
  .QueryBuilder-StyledInputContainer * {                /* github search/query input */
    font-family: var(--font-family-mono) !important;
  }
  span.token.comment {                                  /* gitbook comment code */
    font-style: italic !important;
  }
  .d-flex.flex-wrap.flex-justify-end [rel*="author"],
  header.pagehead h1,
  span.js-repo-root,
  div.vcard-names-container h1 .vcard-fullname,
  [data-hovercard-type="user"]  span.AppHeader-context-item-label {
    font-family: var(--font-family-handwritten) !important;
    font-size: 24px !important;
  }
  h3.text-normal a.author {
    padding-top: 0px !important;
  }
  h2.breadcrumb, .separator {
    font-size: 16px !important;
  }
  .markdown-body.js-comment-body p,
  h3.text-normal a.author,
  .d-none.d-sm-block,
  h2:is([id*="blob-path"]) {
    font-size: 18px !important;
  }
  .d-flex.flex-wrap.flex-justify-end [rel*="author"] {
    font-size: 24px !important;
  }
   /** payment method **/
  .FormControl-input, .FormControl-select, .FormControl-textarea {
    font-size: var(--text-body-size-medium, 0.875rem) !important;
    line-height: var(--text-body-lineHeight-medium, 1.4285) !important;
  }
  select.select-input {
    font-size: 14px !important;
    line-height: 20px !important;
  }
  .book.font-size-2 .book-body .page-inner section {          /* https://psyteachr.github.io */
    font-size: 14px !important;
  }

  /**
   * search icon padding
   *  - .AppHeader .AppHeader-globalBar .AppHeader-search .AppHeader-search-kbd
   *  - .form-select                   : github drop-down list
  **/
  div.eIjUrw, div.qQkTK,                                      /* github search repositories */
  .line-number, .gr-diff,                                     /* github codeblock */
  .line:not([id*="table"]),                                   /* github codeblock && https://codeberg.org/vhs/jekyll-money **/
  div.QueryBuilder-StyledInputContainer {                     /* github search input box */
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-big-mono) !important;
    line-height: 1.5em !important;
  }
  .form-control {                                             /* icon in search box */
    padding: 1px 1em !important;
  }
 .AppHeader-search-kbd {
    align-content: center !important;
    height: var(--font-size-big-mono) !important;
    font-size: var(-font-size-big-mono) !important;
  }
  .AppHeader-searchButton {                                   /* type `/` to search */
    padding-left: 2em !important;
  }

  /**
   * others
  **/
  span.cm-comment,                                            /* gist edit comment code */
  span.pl-c {                                                 /* github comment code */
    font-style: italic !important;
  }

  /**
   * gist.github.com
  **/
  .select-sm {                                                /* gist select drop-down list */
    font-size: 12px !important;
  }
  a.wb-break-all strong {                                     /* gist.github.com */
    font-family: var(--font-family-sans) !important;
  }
  h1.wb-break-word.f3 > span.author > a,                      /* ╮                 */
  h3.text-normal a.author {                                   /* ╯ gist.github.com */
    font-family: var(--font-family-handwritten) !important;
    font-size: 24px !important;
  }
  h1:is([class*="text-normal"]):not([id*="summary-val"]) {    /* gist.github.com */
    font-size: var(--font-size-h2) !important;
    font-weight: 400 !important;
  }

  /****************************************************************************************
   * github.io                                      github pager
   * https://idratherbewriting.com/documentation-theme-jekyll/index.html
   *
   * for content: "\f19d":
   * .fa i.fa-clone, i.fa-check
  ****************************************************************************************/
  .markdown-section *:not(mark):not(span):not(h1):not(h2):not(h3):not(h4) {
    font-size: 16px !important;
  }
  .markdown-section a,
  .book-summary a,
  div[type*="text"],
  li li,
  ul li,
  ol li,
  #book-search-input>input,
  textarea[id*="commento-textarea"],
  a.btn,
  div.tags>b,
  input[type=checkbox]+label,
  .commento-submit-button,
  div[class*="language-liquid"]~table *,
  .book.font-family-1 {
    font-family: var(--font-family-sans) !important;
  }
} /** @-moz-document regexp : github.com && github.io **/

@-moz-document regexp("https?://(ewiki\\.).+\\.com.*") {

  /*******************
   * confluence pages
  *******************/

  html {
    color: #172b4d !important;
  }
  code, code *,
  pre, pre *,
  [class*="highlight"] :where(pre, code) {
    font-family: var(--font-family-mono) !important;
    font-size: var(--font-size-small-mono) !important;
    line-height: 1.5em !important;
  }
  .wiki-content h1 {
    font-size: var(--font-size-h1) !important;
  }
  .wiki-content h2 {
    font-size: var(--font-size-h2) !important;
  }
  .wiki-content h3 {
    font-size: var(--font-size-h3) !important;
  }
  .wiki-content h4 {
    font-size: var(--font-size-h4) !important;
  }
  .space-information-container > div.name,
  .ia-secondary-header-title > span.label {
    font-family: var(--font-family-handwritten) !important
  }
  .comments {
    font-style: italic !important;
    color: darkgray !important;
  }
} /** @-moz-document regexp : for ewiki hosts -- private hostname **/

@-moz-document regexp("https?://(.+-re-dashboard.+|10.110.136.104).+") {

  /*******************
   * re dashboard pages
  *******************/

  html {
    --bs-font-sans-serif: /*[[font-family-sans]]*/;
    --bs-font-monospace: /*[[font-family-mono]]*/;
    --font-family-handwritten: /*[[font-family-handwritten]]*/;
    --font-family-icon: /*[[font-family-icon]]*/;
  }

  /** :root cannot take value from var(..) **/
  :root, [data-bs-theme=light] {
    --bs-font-sans-serif: /*[[font-family-sans]]*/ !important;
    --bs-font-monospace: /*[[font-family-mono]]*/ !important;
  }

  .g-0 {
    flex-wrap: nowrap !important;
  }
  .nav-link {
    white-space: nowrap !important;
  }

}
